<h1>Starting over is harder than starting up</h1>
<p>
  These are the words of the Philosopher Benett Foddy.
  It is true, that it is difficult to start any journey, but to admit failure and start again is even more exhausting.
  But as Mary Pickford would say, "The thing that we call failure is not the falling down, but the staying down".
  Life is a bit like a sandbox game, and choices you make today have lasting impact on the rest of your life.
  But games have some essential properties: If you pay attention you can get good.
  Not everything is under your control, but that does not matter.
  If you focus on yourself, and confront the world around you honestly and with both of your eyes open, you will find your error.
  By changing your ways, new doors will open.
</p>

<p>
  Now improving could be very subjective, and some might argue that one state is not preferable to another state.
  I fundamentally disagree with the statement and argue that some situation are objectively better than others.
  Okay, so everything you have to do is be better, right?
  No.
  To become better is to become humble.
  Find flaws within yourself, to find out who you really are.
  and then find out what you want to become.
  and then... change has to start.
  Like a building, one stone will be placed at a time, and at the end, a complete building will be built.
  this means that you have to figure out the smallest step possible in order to progress.
  But you have your sins, and thoghts controll you, not the other way around.
  so how does one improve?
  By staying open minded and trying harder.
  Some people think it is important to accept that you are the way you are.
  I think that is foolish and harming to the ambitious.
  A "good job" should be hard earned, not simply given to everyone.
</p>

<p>
  So why did I create this website? to try to be the person I want to be.
  I have different goals, I wish to be create something meaningful with my life, I wish to make people happy.
  I wish to live a healthy life.
  And I need to compete.
  To see, how much I have improved, I have created this website, so I can keep track of my progress.
  To write diaries.
  To learn to live a life, I find worth living.
  To Write about art, Philosphy, Psychology, My educational thoguhts.
  I wish to reflect upon my input.
  To start writing a dream diary again.
  So in the end, I will live a fulfilling life, and I look back, knowing that I tried my hardest.
  As I have no other options than becomming the best person possible.
</p>
