<p>
  To Quote Benett Foddy "Starting a over is harder than starting up".
  I disagree.
  To Start over is to take the first step, after standing still.
  Staring over means to take a step back, while in motion.
  Stepping back is just another step forward, if you went the wrong way in the past.
  Note that I did not say fail, to quote Mary Pickford:" the thing that we call failure is not the falling down,
  but the staying down".
</p>

<p>
  To start a journey, is to argue that there is value in the journey or in the goal.
  Abstractly speaking this means that the traveler is not content with its current position.
  That there is more to see and to do than what is the current.
  Now journeys are sometimes physical, going to a new town, a new club, a new place to eat.
  Or visiting old friends that you haven't seen in a while.
  But it doesnt have to be.
  The change of weight, the way we spend time, the way we talk to those around us.
  The commitment to a relationship or to a craft.
  All of those things are journeys, that require the same skills.
</p>

<p>
  So how does one succeed in a journey?
  Journeys require you find potential within the chaos of the world, something that is uncertain that could be made more
  manageable.

  you need to have your eyes open, and take small steps, and you have to keep your eyes on the goal.

  Some people want to lose weight to become a more attractive partner, or gain muscle or...
  It is important to realize what your goal is, and seriously consider what you are doing.
  This can be quite difficult.
  During the journey, you might discover, that one of the things you believe is wrong.
  And that questions your framework in which you operate.
  So you have to question deeply what you believe. Thought control you, not the other way around.

  You have to be honest to yourself.
  Why do I want this? Is there a hidden agenda that I am following?
  The people in the Soviet Union believed that they were freeing the people from the oppression of the rich,
  and in the process created a system where they killed, hurt and traumatized everyone that was doing better than average.
  Now there are two possible motives for the action: The compassion for the poor, or the hatred of the rich.
  If you think about it, compassion does not kill millions of people, or is it hatred?
  You should now the answer.

  If you think about these factors on your journey you will create something good. It may not be pleasant in the moment,
  it will be worthwhile in the long run.
</p>

<p>
  Here is something fun I noticed.
  I reached top 1% of players in a video game named League of Legends by looking at what I was doing and being honest
  about my flaws.
  Then I did the same thing later in a game named Overwatch.
  I was rank 300 at peak, and I was considered for the german national team at some point.
  Well This is all nice, but it these things arent real to some extend.
  I then used the same things on my career life.
  I am now currently studying and getting scholarships, and I am one of the best students at my university.
  it is because everything can be viewed as a game, and game theory dictates that there is one right decission and
  many wrong decissions. I try to figure out, how to do the right thing.

  Gaming has taught me, how to critically think.
  To do that I need to make small steps and be honest and keep view on my goal.
  How do I do that?
  I will (or have) created a website for, to track success, what I think, and what i want to achieve.
  So that I may not lose sight of the goals in my life, so that I can be proud of my achievements.
</p>
<app-login></app-login>
